<h1>Compute Confusion Matrix for given  Y and Y_score without sklearn</h1>

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [3]:
df=pd.read_csv("Assignment2.csv")
df.head()

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199

In [4]:
df['y'].value_counts()

y
1.0    10000
0.0      100
Name: count, dtype: int64

In [5]:
# Adding a new column to the dataset- 'y_pred' and populating it as per the requirement
#  i.e. ùë¶ùëùùëüùëíùëë=[0 if y_score < 0.5 else 1] 
y_pred = df['proba'].map(lambda X:1 if X > 0.5 else 0)
y_pred.tail(10)

10090    1
10091    1
10092    1
10093    1
10094    1
10095    1
10096    1
10097    1
10098    1
10099    1
Name: proba, dtype: int64

In [6]:
# Checking how many data points are predicted to be of class 1
# len(data_5a[data_5a['y_pred']==1])

# OBSERVATION - All the points are predicted to belong to class 1

In [7]:
y_pred=list(y_pred)

len(y_pred)

10100

In [8]:
df['y_pred']=y_pred
df

         y     proba  y_pred
0      1.0  0.637387       1
1      1.0  0.635165       1
2      1.0  0.766586       1
3      1.0  0.724564       1
4      1.0  0.889199       1
...    ...       ...     ...
10095  1.0  0.665371       1
10096  1.0  0.607961       1
10097  1.0  0.777724       1
10098  1.0  0.846036       1
10099  1.0  0.679507       1

[10100 rows x 3 columns]

In [29]:
len(df[df['y_pred']==1])

10100

<h1>Confusion Matrix</h1>

In [11]:
y=df['y']
y=list(y)

In [12]:
# Formulas:
# P = TP + FN
# N = FP + TN

# we already know that:
P = 10000
N = 100

# Calulating True Positives TPs
TP=0
for i in range(len(df)):
    if df.loc[i,'y']==1 and df.loc[i,'y_pred']==1:
                TP+=1

# Calulating False Negatives FNs
FN = P-TP

# Calulating True Negatives TNs
TN=0
for i in range(len(df)):
        if df.loc[i,'y']==0 and df.loc[i,'y_pred']==0:
                TN+=1
        
# Calulating False Positives FPs
FP = N-TN

print("Confusion Matrix for 5a is :")
print('TPs: ',TP) 
print('FPs: ',FP) 
print('TNs: ',TN) 
print('FNs: ',FN)

Confusion Matrix for 5a is :
TPs:  10000
FPs:  100
TNs:  0
FNs:  0

<h1> 2 - F1 Score</h1>

In [13]:
Precision = TP/(TP+FP)
Recall = TP/P

F1_Score = 2* ((Precision*Recall)/(Precision+Recall))
print('F1Score for 5a is: ', F1_Score)

F1Score for 5a is:  0.9950248756218906

In [54]:
# Observation-
#            Since we have very high number of positive points in this imbalanmced dataset and we are keeping the threshold
#            0.5 so we are also getting all the predictions as +ve hence TP is high so Precison and recall are high
#            which in turn makes the F1 score very high

<h1>3 - ACCURACY Score</h1>

In [57]:
df=pd.read_csv("Assignment2.csv")
df.head(2)

     y     proba
0  1.0  0.637387
1  1.0  0.635165

In [34]:
# Adding a new column to the dataset- 'y_pred' and populating it as per the requirement
#  i.e. ùë¶ùëùùëüùëíùëë=[0 if y_score < 0.5 else 1]
for i in range(len(df)):
    if df.loc[i,'proba']<0.5:
        1
    else:
        2

In [35]:
# Accuracy_Score = Number of correctly classified points/Total number of points
total = len(df)
correct = 0
for i in range(total):
    if y[i]==y_pred[i]:
        correct+=1

Accuracy_Score  = correct/total     
print("Accuracy Score is: ", Accuracy_Score)

Accuracy Score is:  0.9900990099009901

In [39]:
# OBSERVATION - 
#             Accuarcy is high as we have kept threshold to be 0.5 and all the points have proba above 0.5
predicted_probabilities = np.array([0.7, 0.8, 0.6, 0.9, 0.95])
true_labels = np.array([1, 1, 1, 1, 1])
threshold=0.5
predicted_labels = (predicted_probabilities >= threshold).astype(int)
accuracy = accuracy_score(true_labels, predicted_labels)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 100.00%